.bannerContainer {
  background-image: url("../Assets/Rectangle 3.png");
  width: 100%;
  min-height: 70vh;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  @media screen and (max-width: 900px) {
    background-position: center center;
    height: 70vh;
  }
  @media screen and (max-width: 600px) {
    height: 70vh;
  }

  .boxes {
    display: flex;
    justify-content: flex-start;
    padding-top: 40px !important;

    column-gap: 25px;
    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
      row-gap: 25px;
    }
    .bttn {
      text-transform: none;
      background-color: #f9a622;
      color: white;
      width: 200px;
      height: 65px;

      .text {
        max-width: 130px;
        font-size: medium;
        font-weight: bold;
      }
      &:hover {
        background-color: gray;
      }
    }
    .btnHide {
      text-transform: none;
      background-color: #f9a622;
      color: white;
      width: 200px;
      height: 65px;

      @media screen and (max-width: 900px) {
        display: none;
      }
      .text {
        max-width: 130px;
        font-size: medium;
        font-weight: bold;
      }
    }
  }
  .headings {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding-left: 80px;
    padding-top: 110px;
    padding-bottom: 110px;

    .title {
      font-family: Georgia, "Times New Roman", Times, serif;
      color: white;
      font-weight: normal;
      .right {
        text-decoration: underline;
        text-decoration-color: #f9a622;
        text-decoration-style: solid;
      }
    }
    .para {
      color: white;
      line-height: 3.5;
    }
    @media screen and (max-width: 900px) {
      text-align: center;
      padding: 20px;
      padding-top: 80px;
      padding-bottom: 70px;
    }
  }
}
