.Puzzle {
  background-color: #2f3d4f;
  padding-top: 70px;
  padding-bottom: 70px;
  .number {
    color: white;
    font-weight: bolder;
    margin-top: -75px;
    @media screen and (max-width: 900px) {
      margin-top: -40px;
    }
    @media screen and (max-width: 600px) {
      margin-top: -25px;
      font-size: 16px !important;
    }
  }
  .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    @media screen and (max-width: 900px) {
      padding-bottom: 25px;
    }
    .firstBox {
      margin-bottom: 43px;
      @media screen and (max-width: 900px) {
        margin-bottom: 18px;
      }
    }
    .box1 {
      display: flex;
      flex-direction: column;
      row-gap: 2px;
      .a {
        background-color: #3e4857;
        width: 60px;
        height: 50px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        @media screen and (max-width: 900px) {
          width: 30px;
          height: 25px;
        }
        @media screen and (max-width: 600px) {
          width: 20px;
          height: 15px;
        }
      }
      .b {
        background-color: #3e4857;
        width: 60px;
        height: 50px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        @media screen and (max-width: 900px) {
          width: 30px;
          height: 25px;
        }
        @media screen and (max-width: 600px) {
          width: 20px;
          height: 15px;
        }
      }
    }
    .boxContainer {
      display: flex;
      .p {
        color: white;
        font-size: 40px;
        padding-left: 10px;
        @media screen and (max-width: 900px) {
          font-size: 20px;
        }
        @media screen and (max-width: 600px) {
          font-size: 14px;
          padding-left: 6px;
          //padding-bottom: 20px;
        }
      }
      .box2 {
        display: flex;
        column-gap: 10px;
      }
      .number {
        color: white;
      }
    }
  }
}
