.Puzzle {
  background-color: #2f3d4f;
  padding-top: 70px;
  padding-bottom: 70px;
}

.Puzzle .number {
  color: white;
  font-weight: bolder;
  margin-top: -75px;
}

@media screen and (max-width: 900px) {
  .Puzzle .number {
    margin-top: -40px;
  }
}

@media screen and (max-width: 600px) {
  .Puzzle .number {
    margin-top: -25px;
    font-size: 16px !important;
  }
}

.Puzzle .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .Puzzle .boxes {
    padding-bottom: 25px;
  }
}

.Puzzle .boxes .flip-countdown-title {
  display: none;
}

.Puzzle .boxes .flip-countdown-card-sec .card__top {
  background-color: #3e4857 !important;
}

.Puzzle .boxes .flip-countdown-card-sec .card__bottom {
  background-color: #3e4857 !important;
}

.Puzzle .boxes .firstBox {
  margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .Puzzle .boxes .firstBox {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 600px) {
  .Puzzle .boxes .firstBox {
    margin-bottom: 20px;
  }
}

.Puzzle .boxes .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2px;
}

.Puzzle .boxes .box1 .a {
  background-color: #3e4857;
  width: 60px;
  height: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.Puzzle .boxes .box1 .a:hover {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@media screen and (max-width: 900px) {
  .Puzzle .boxes .box1 .a {
    width: 30px;
    height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .Puzzle .boxes .box1 .a {
    width: 20px;
    height: 15px;
  }
}

.Puzzle .boxes .box1 .b {
  background-color: #3e4857;
  width: 60px;
  height: 50px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.Puzzle .boxes .box1 .b:hover {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

@media screen and (max-width: 900px) {
  .Puzzle .boxes .box1 .b {
    width: 30px;
    height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .Puzzle .boxes .box1 .b {
    width: 20px;
    height: 15px;
  }
}

.Puzzle .boxes .boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Puzzle .boxes .boxContainer .p {
  color: white;
  font-size: 40px;
  padding-left: 10px;
}

@media screen and (max-width: 900px) {
  .Puzzle .boxes .boxContainer .p {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .Puzzle .boxes .boxContainer .p {
    font-size: 14px;
    padding-left: 6px;
  }
}

.Puzzle .boxes .boxContainer .box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.Puzzle .boxes .boxContainer .number {
  color: white;
}
/*# sourceMappingURL=style.css.map */