.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .footerContainer {
  max-width: 1200px;
  width: 100%;
}

.footer .footerContainer .info {
  padding-left: 40px;
  padding-right: 40px;
}

.footer .footerContainer .info .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding: 30px;
  color: gray !important;
}

@media screen and (max-width: 700px) {
  .footer .footerContainer .info .pages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

@media screen and (max-width: 700px) {
  .footer .footerContainer .info .logo {
    width: 230px;
  }
}

.footer .footerContainer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 700px) {
  .footer .footerContainer .social {
    display: none;
  }
}

.footer .footerContainer .social .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.footer .footerContainer .social .copyright .term {
  color: gray !important;
  text-decoration: underline;
}

.footer .footerContainer .social .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.footer .footerContainer .social .media .facebook {
  color: #313d4e !important;
}

.footer .footerContainer .copyrightMobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .footer .footerContainer .copyrightMobile {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
  }
  .footer .footerContainer .copyrightMobile .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .footer .footerContainer .copyrightMobile .media .facebook {
    color: #313d4e !important;
  }
  .footer .footerContainer .copyrightMobile .copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 15px;
  }
  .footer .footerContainer .copyrightMobile .copy .term {
    text-decoration: underline;
    -webkit-text-decoration-color: gray;
            text-decoration-color: gray;
  }
  .footer .footerContainer .copyrightMobile .copy .delta {
    color: gray !important;
  }
}
/*# sourceMappingURL=style.css.map */