.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  .footerContainer {
    max-width: 1200px;
    width: 100%;
    .info {
      padding-left: 40px;
      padding-right: 40px;
      .pages {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
        padding: 30px;
        color: gray !important;
        padding-bottom: 40px;
        @media screen and (max-width: 700px) {
          flex-direction: column;
          row-gap: 20px;
        }
      }
      .logo {
        width: 270px !important;
        @media screen and (max-width: 700px) {
          width: 230px;
        }
      }
    }
    .social {
      display: flex;
      justify-content: space-between;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
      @media screen and (max-width: 700px) {
        display: none;
      }
      .copyright {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 15px;

        .term {
          color: gray !important;
          text-decoration: underline;
        }
        .term1 {
          color: gray !important;
        }
      }
      .media {
        display: flex;
        align-items: center;
        column-gap: 15px;
        .facebook {
          color: #313d4e !important;
        }
      }
    }
    .copyrightMobile {
      display: none;
      @media screen and (max-width: 700px) {
        display: block;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 25px;
        .media {
          display: flex;
          align-items: center;
          column-gap: 15px;
          .facebook {
            color: #313d4e !important;
          }
        }
        .copy {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 15px;
          .term {
            text-decoration: underline;
            text-decoration-color: gray;
          }
          .term1 {
            color: gray !important;
          }
          .delta {
            color: gray !important;
          }
        }
      }
    }
  }
}
