.Teachers {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0eeef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 550px;
  width: 100%;
}

.Teachers .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: calc(50vw + 600px);
  width: 100%;
}

@media screen and (max-width: 1330px) {
  .Teachers .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 60px;
    width: 100%;
  }
}

.Teachers .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.Teachers .images .laptop {
  width: 100%;
}

@media screen and (max-width: 1330px) {
  .Teachers .images .laptop {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .Teachers .images .laptop {
    width: 60%;
  }
}

.Teachers .images .persinImg {
  position: absolute;
  top: 30px;
  left: 0.5%;
}

@media screen and (max-width: 1330px) {
  .Teachers .images .persinImg {
    left: 45%;
  }
}

@media screen and (max-width: 900px) {
  .Teachers .images .persinImg {
    left: 35%;
    top: 40px;
    width: 20%;
  }
}

.Teachers .forTeachers {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
  min-height: 450px;
  padding-left: 40px;
}

@media screen and (max-width: 1330px) {
  .Teachers .forTeachers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
}

.Teachers .forTeachers .description {
  text-align: left;
  color: #2f3d4f;
  max-width: 470px;
  padding-top: 35px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1330px) {
  .Teachers .forTeachers .description {
    text-align: center;
  }
}

.Teachers .forTeachers .head {
  text-align: left;
  color: #2f3d4f;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Teachers .forTeachers .button {
  background-color: #2f3d4f;
  padding: 15px;
  width: 250px;
  text-transform: none;
  font-weight: bold;
  font-size: large;
}
/*# sourceMappingURL=style.css.map */