@mixin btnStyle {
  background-color: #2f3d4f;
  padding: 15px;
  width: 250px;
  text-transform: none;
  font-weight: bold;
  font-size: large;
}

.Teachers {
  // max-width: calc(50vw + 600px);
  width: 100%;
  background-color: #f0efef;
  padding-top: 70px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  @media screen and (max-width: 1330px) {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .images {
    display: flex;
    justify-content: flex-end;
    position: relative;
    @media screen and (max-width: 1330px) {
      order: 1;
    }
    .laptop {
      width: 80%;
      @media screen and (max-width: 1330px) {
        width: 50%;
      }
      @media screen and (max-width: 900px) {
        width: 60%;
      }
    }
    .persinImg {
      position: absolute;
      top: 30px;
      left: 15%;
      @media screen and (max-width: 1880px) {
        left: 15%;
      }

      @media screen and (max-width: 1330px) {
        left: 45%;
      }

      @media screen and (max-width: 900px) {
        left: 35%;
        top: 40px;
        width: 20%;
      }
    }
  }
  .forTeachers {
    text-align: left;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 250px;
    @media screen and (max-width: 1330px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      order: 2;
    }

    .description {
      text-align: left;
      color: #2f3d4f;
      max-width: 470px;
      padding-top: 35px;
      padding-bottom: 50px;
      @media screen and (max-width: 1330px) {
        text-align: center;
      }
      @media screen and (max-width: 600px) {
        max-width: 300px;
        text-align: center;
      }
    }
    .head {
      text-align: left;
      color: #2f3d4f;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    .button {
      @include btnStyle();
    }
  }
}
