@mixin btnStyle {
  background-color: #2f3d4f;
  padding: 15px;
  width: 250px;
  text-transform: none;
  font-weight: bold;
  font-size: large;
}

.Teachers {
  // width: 100%;
  // background-color: #f0efef;
  // padding-top: 70px;
  // padding-bottom: 70px;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // align-items: center;
  // @media screen and (max-width: 1330px) {
  //   grid-template-columns: 1fr;
  //   row-gap: 30px;
  // }
  align-items: center;
  background-color: #f0eeef;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 550px;
  width: 100%;
  .wrapper {
    //align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(50vw + 600px);
    width: 100%;
    @media screen and (max-width: 1330px) {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      //align-items: center;
      padding-top: 60px;
      // max-width: calc(50vw + 600px);
      width: 100%;
    }
  }
  .images {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .laptop {
      width: 100%;
      @media screen and (max-width: 1330px) {
        width: 50%;
      }
      @media screen and (max-width: 900px) {
        width: 60%;
      }
    }
    .persinImg {
      position: absolute;
      top: 30px;
      left: 0.5%;
      @media screen and (max-width: 1880px) {
        //left: 15%;
      }

      @media screen and (max-width: 1330px) {
        left: 45%;
      }

      @media screen and (max-width: 900px) {
        left: 35%;
        top: 40px;
        width: 20%;
      }
    }
  }
  .forTeachers {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    min-height: 450px;
    padding-left: 40px;
    //width: 45%;
    @media screen and (max-width: 1330px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 0px;
    }

    .description {
      text-align: left;
      color: #2f3d4f;
      max-width: 470px;
      padding-top: 35px;
      padding-bottom: 50px;
      @media screen and (max-width: 1330px) {
        text-align: center;
      }
    }
    .head {
      text-align: left;
      color: #2f3d4f;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    .button {
      @include btnStyle();
    }
  }
}
